doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title Lucas de Brito 
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
		link(rel='stylesheet', href='main.css')
		link(rel='shortcut icon' type='image/png' href='public/img/favicon.png')
	body(data-spy="scroll" data-target=".bs-docs-sidebar")
		.row
			div#greenPanel.col-xl-5.col-lg-5.col-md-5.col-sm-12.col-12
				.jumbotron
					.headerPic
						.circle
							img(src="./public/img/mypic.png")
						.name
							h1.montserratExtrabold.novecentosanswideDB LUCAS DE BRITO
							h2 iOS and Front End Developer 
					.titleText OVERVIEW
					.title 
						img(src='./public/img/icon-curriculo-02.png')
					.overviewBox
						p I’m a Front-end and iOS developer born in Brazil. Always have been a fanatic for cool interfaces and designs. I have almost 5 years of experience as graphic designer and 1 year with iOS development in the Brazilian Education Project for iOS Development. Today, I’m always looking for new opportunities to see cool stuff and interested about new experiences. My favorite programming language are Swift and Javascript. I’m also very interested, (and currently working with it) in scaleable web application using NodeJS.
					.infoBox
						.titleText INFO
						.title 
							img(src='./public/img/icon-curriculo-02.png')
						.mailBox
							img(src='./public/img/mail.png')
							p lucasdebritoarruda@gmail.com
						.phoneBox
							img(src='./public/img/phone.png')
							p +5585996212973
						.linkedinBox
							img(src='./public/img/linkedin.png')
							p 
								a(href="https://www.linkedin.com/in/lucasdebritoarruda" target="_blank") Lucas de Brito
						.githubBox
							img(src='./public/img/rocket.png')
							p
								a(href="./public/download/Curriculo_Lucas_de_Brito_Arruda.pdf" download) PDF version.
								
			div#blackPanel.col-xl-7.col-lg-7.col-md-7.col-sm-12.col-12
				.jumbotron
					.work
						.guide
						.bloco
							.auxH
							img(src="./public/img/coffee.png")
							h1.swing.montserratExtrabold.novecentosanswideDB  WORK EXPERIENCE
						.auxV
						.lilCircle
						.workItem
							.hifen
							.workItemText
								h2.montserratExtrabold.novecentosanswideDB  Directorate of Distance Education at the Federal Institute of Education, Science and Technology of Ceará
								p Role: Graphic Designer
						.auxV(style='height:250px;margin-top:-250px')
						.lilCircle
						.workItem
							.hifen(style='width:45px;')
							.workItemText
								h2.montserratExtrabold.novecentosanswideDB  Apple Developer academy
								p Role: Native iOS development trainee
						.auxV(style='height:150px;margin-top:-120px')
						.lilCircle
						.workItem
							.hifen(style='width:55px;')
							.workItemText
								h2.montserratExtrabold.novecentosanswideDB  Stefanini IT Solutions/BNB – Brazilian Northeast Bank
								p Role: Analyst
						.auxV(style='height:190px;margin-top:-170px')
						.lilCircle
						.workItem
							.hifen(style='width:90px;')
							.workItemText
								h2.montserratExtrabold.novecentosanswideDB  Foundation for Research and Culture of Ceará/ Integrated system of fiscal and load supervision
								p Role: Front End Developer
						.auxV(style='height:270px;margin-top:-250px')
						.bloco(style='margin:0px')
							.auxH
							img(src="./public/img/thunder.png")
							h1.montserratExtrabold.novecentosanswideDB  SKILLS
						.auxV
						.lilCircle
						.workItem
							.hifen(style='width:40px;')
							.skill
								.skillName Swift
								.skillBar(style='width:11vw;')
						.auxV(style='height:80px;margin-top:-45px')
						.lilCircle
						.workItem
							.hifen(style='width:40px;')
							.skill
								.skillName NodeJS
								.skillBar(style='width:10vw;')
						.auxV(style='height:80px;margin-top:-45px')
						.lilCircle
						.workItem
							.hifen(style='width:40px;')
							.skill
								.skillName Gulp
								.skillBar(style='width:10vw;')
						.auxV(style='height:80px;margin-top:-45px')
						.lilCircle
						.workItem
							.hifen(style='width:40px;')
							.skill
								.skillName Sass, CSS
								.skillBar(style='width:13vw;')
						.auxV(style='height:80px;margin-top:-45px')
						.lilCircle
						.workItem
							.hifen(style='width:40px;')
							.skill
								.skillName Pug, HTML5
								.skillBar.skillBar(style='width:13vw;')
						.auxV(style='height:80px;margin-top:-45px')
						.lilCircle
						.workItem
							.hifen(style='width:40px;')
							.skill
								.skillName Bootstrap
								.skillBar.skillBar(style='width:12vw;')
						.auxV(style='height:80px;margin-top:-45px')
						.lilCircle
						.workItem
							.hifen(style='width:40px;')
							.skill
								.skillName Express
								.skillBar.skillBar(style='width:10vw;')
						.auxV(style='height:80px;margin-top:-45px')
						.lilCircle
						.workItem
							.hifen(style='width:40px;')
							.skill
								.skillName AngularJS
								.skillBar.skillBar(style='width:8vw;')
						.auxV(style='height:80px;margin-top:-45px')
						.lilCircle
						.workItem
							.hifen(style='width:40px;')
							.skill
								.skillName Javascript
								.skillBar.skillBar(style='width:10vw;')
						.auxV(style='height:80px;margin-top:-45px')
						.lilCircle
						.workItem
							.hifen(style='width:40px;')
							.skill
								.skillName Interface Prototyping
								.skillBar.skillBar(style='width:14vw;')
						.auxV(style='height:80px;margin-top:-45px')
						.lilCircle
						.workItem
							.hifen(style='width:40px;')
							.skill
								.skillName UI/UX
								.skillBar.skillBar(style='width:13vw;')
						.auxV(style='height:270px;margin-top:-250px')
						.bloco(style='margin:0px')
							.auxH
							img(src="./public/img/degree.png")
							h1.montserratExtrabold.novecentosanswideDB  EDUCATION
						.auxV
						.lilCircle
						.workItem
							.hifen(style='width:30px;')
							.workItemText
								h2.montserratExtrabold.novecentosanswideDB  Computer Engeneering 
								p Federal Institute of Education, Science and Technology of Ceará
						.auxV(style='height:170px;margin-top:-145px')
						.lilCircle
						.workItem
							.hifen(style='width:30px;')
							.workItemText
								h2.montserratExtrabold.novecentosanswideDB  Degree in electrical engineering / Electronic systems
								p Federal Institute of Education, Science and Technology of Ceará
	script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
